* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom left, navy, purple);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  max-width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: right;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
}
nav img {
  position: absolute;
  left: 10px;
  width: 25px;
  top: 15px;
}

nav {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: right;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
}
nav img {
  position: absolute;
  left: 10px;
  width: 25px;
  top: 15px;
}

input[type="submit"] {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background: yellow;
  color: black;
  border: 1px solid yellow;
  text-align: center;
  margin: 4px 2px;
}

#search_btn {
  width: 80px;
  height: 39px;
  border-radius: 2px;
  background: rgb(242, 255, 0);
  color: black;
  border: 1px solid yellow;
  text-align: center;
  margin: 4px 2px;
}

#search_btn:hover {
  background-color: inherit;
  color: yellow;
}

input[type="text"] {
  margin: 2px;
  margin-right: 0px;
  padding: 10px;
  width: 250px;
  text-align: center;
  border: 1px solid yellow;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: black;
  color: yellow;
}

.container {
  position: relative;
  top: 1.8vh;
  margin: 0px;
  margin-top: 65px;
  padding: 5px;
  text-align: center;
}

img {
  width: 97%;
  margin-bottom: 2px;
  border: 1px solid white;
}

.trailor {
  text-align: left;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  padding: 4px 6px;
  margin: 0px 20% 0px 1.5%;
  border: 1px solid white;
  font-family: "Lucida Sans";
}

.trailor a {
  text-decoration: none;
  color: white;
}
.movielist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  left: 10%;
  align-items: center;
  position: relative;
  top: 0vh;
  text-align: center;
  color: white;
}

.message {
  text-align: center;
  position: relative;
  font-size: calc(13px + 1.2vw);
  margin-top: 40px;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  overflow: hidden;
}
.content {
  text-align: center;
  content: “ ”;
  position: relative;
  overflow: hidden;
  top: 6vh;
  width: 98%;
  left: 1%;
  padding: 8px 2px;
  margin: 4px 0px;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  font-size: 15px;
  font-family: "Segoe UI";
  color: yellow;
  font-weight: bold;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Cambria;
  width: 100%;
  text-align: center;
  padding: 27px 0px;
  position: absolute;
  bottom: 0vh;
}
