<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'style1.css' %}">
    <title>Registration Page</title>
</head>
<body>
    
    <nav>
        <img src="http://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" alt="Py">
        <img src="https://seeklogo.com/images/D/django-logo-F46C1DD95E-seeklogo.com.png" alt="movie" style="left: 40px;">

        <form  action="/register" method="post">
            {% csrf_token %}
            <input type="submit" class="create" value="CREATE ACCOUNT">
        </form>

        <form  action="/login" method="post">
            {% csrf_token %}
            <input type="submit" class="login" value="LOG IN">
        </form>
    </nav>

    <div class="app-name">
        <label>CONTENT BASED MOVIE RECOMMENDER SYSTEM</label>
    </div>


    <div class="container">
        <form  method="post">
            {% csrf_token %}
                <div class="crispyforms">
                    {% for field in form %}
                        <label>{{field.html_name}}</label><br>
                        {{field}}<br><br>
                    {% endfor %}
                <p>*Note: 
                    Your password can’t be too similar to your other personal information.
                    Your password must contain at least 8 characters.
                    Your password can’t be a commonly used password.
                    Your password can’t be entirely numeric.</p>
                </div>
                <input type="submit" class="submit_btn" value="SIGN UP">
        </form>
        <label class="ok">Already have an account ? <a href="login" style="color: navy;">Sign In</a></label>
    </div>


</body>
</html>