<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output Page</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <div class="about-movie" >
        <a href="/homepage" style="color: orangered;text-decoration:none;position:absolute; left:2%; top:35%; font-weight:bold"><label>Home</label></a>
        <label>'{{movie_name}}' <br> doesn't exist in the Database<br>Kindly check the spelling</label>
        <br>  
    </div>
    <div class="footer">
        <label style="color:white">© Akash Sardar, 2022</label>
        <br>
        <a href="https://www.linkedin.com/in/akash-sardar-118858184/" style="margin: 8px; text-decoration: none; color:rgb(0, 227, 235)" class="fa fa-linkedin"></a>
        <a href="https://github.com/ACashSardar" style="margin: 8px; text-decoration: none; color:rgb(255, 255, 255)" class="fa fa-github"></a>
        <a href="https://www.facebook.com/akash.sardar.1717" style="margin: 8px; text-decoration: none; color:rgb(0, 128, 248)" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/lazer.kitty/" style="margin: 8px; text-decoration: none; color:rgb(255, 0, 234)" class="fa fa-instagram"></a>
        <br>
    </div>
</body>
</html>